body{

  text-align: center;
font-family: 'Open Sans', sans-serif;
font-size: 1.4rem;

}
h1{
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  color: #66BFBF;
    line-height: 2;
}
h2{
  font-family: 'Work Sans', sans-serif;
  color: #66BFBF;

}
h3{
  font-family: 'Merienda', cursive;
  color: #11999E;
}
h4{
  font-weight: normal;

  color: #66BFBF;
}
p{
  line-height: 2;
}
hr{
  border:dotted #EAF6F6 6px;
border-bottom: none;
width: 10%;
margin: 50px auto;
}
.intro{
  width:30%;
  margin: auto;
}
.skill-row{
  width:50%;
  margin: 100px auto 100px auto;
  text-align: left;

}
.coding{
  width: 25%;
  float: right;
  margin-left:auto 20px 20px 20px;
  padding-left: 20px;
  padding-right: 20px;
}
.java{
  width: 25%;
  float: left;
    margin-left:auto 20px 20px 20px;
    padding-left:20px;
    padding-right: 20px;

}

.TopContainer{
  background-color: #CDF0EA;
  position: relative;
  padding-top: 100px;
}
.bottom-cloud{
  height:100px;
  width:300px;
  position: absolute;
  left: 200px;
}

.top-cloud{
  height:100px;
  width:250px;
  position: absolute;
  top: 100px;
  right: 200px;
}
.profile1{
  height:20%;
  width: 25%;
}
.middle-container{
  margin:100px auto;
}
.bottom-container{
  margin: 50px 0 0 0;
  padding-top: 50px;
  background-color: #66BFBF;
  height: 100px;
  color: #EAF6F6;
  font-family: 'Open Sans', sans-serif;

}
.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
.footer-link{
padding-right: 15px;
font-family: 'Open Sans', sans-serif;
color: #11999E;
text-decoration: none;
}
a:hover{
  color: #EAF6F6
}
.copy{
    font-size: 0.75rem;
}
